.sec__main{
   font-family: 'Roboto Condensed', sans-serif;
   background-color: #fdbe57;
   height: 100vh;
   h1{font-size: 2em;font-weight: bold;color: #fff;}
   #map{height: 600px;margin-top: 1em;}
   .gm-style-iw-d h1{font-size: 1.5em;font-weight: bold;color: #000;}
}

@media (max-width:768px){
   .sec__main{
      h1{font-size: 1.5em;}
   }
}